{% extends "base.html" %}
{% block title %}
    Inventory
{% endblock %}

{% block content %}
    <h1>Inventory</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>UPS code</th>
                <th>Item Description</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventory in inventory %}
            <tr>
                <td>{{ inventory.UPScode }}</td>
                <td>{{ inventory.item_description }}</td>
                <td><a href="{% url "inventory_edit" pk=inventory.pk %}" class="btn btn-warning">Edit</a></td>
                <td><a href="{% url "inventory_delete" pk=inventory.pk %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a></td>
                <td><a href="" class="btn btn-primary">Orders that Requested this Item</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}